/*
Template: 2047 Brown Field
Credit: http://www.tooplate.com/view/2047-brown-field
*/

body {
	margin: 0;
	padding: 0;
	color: #554a46;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #090100;
	background-image: url(../images/tooplate_body.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}

.orange {
	color: #C60;
}

.green {
	color: #399;
}

a, a:link, a:visited { 
	color: #97313b; 
	font-weight: normal; 
	text-decoration: none; 
	font-size: 12px; 
}

a:hover {
	text-decoration: none; 
}

a.more { 
	display: block; 
	width: 104px; 
	height: 31px; 
	padding-top: 8px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(../images/tooplate_more.png)  no-repeat top center; 
	color: #333; 
}

a.more:hover { 
	color: #e5425b; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { border: none; }

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}

cite { 
	font-weight: bold; 
	color:#000; 
}

cite a, a:link, a:visited  { 
	font-weight: bold; 
	color:#97313b; 
}

cite span { 
	font-weight: 400; 
	color: #000; 
}

em { color: #000; }

h1, h2, h3, h4, h5, h6 { color: #666; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #666; 
	padding: 4px; 
	background: #ccc; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.tooplate_list { 
	margin: 20px 0 20px 15px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#97313b; 
	margin: 0; 
	padding: 0 0 5px 15px; 
	background: url(../images/tooplate_list.png)  no-repeat scroll 0 7px;  
}

.tooplate_list li a { 
	color: #97313b; 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}

.tooplate_list li a:hover { 
	text-decoration: underline; 
}

#tooplate_wrapper {
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(../images/tooplate_body.jpg) top center no-repeat;
}

#tooplate_header {
	width: 960px;
	padding: 30px 10px 0; 
	height: 60px;
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 0; 
}

#site_title h1 a { 
	display: block; 
	width: 220px; 
	height: 46px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(../images/tooplate_logo.png) no-repeat top left; 
}

/* menu */

#tooplate_menu {
	float: right;
	margin: 0 auto;
}

#tooplate_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tooplate_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 104px;
	height: 33px;
	margin-left:5px;
	padding-top: 6px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
	background: url(../images/tooplate_menu.png);
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
	color: #333;
	background: url(../images/tooplate_menu_hover.png) no-repeat;
}

/* end of menu */

#tooplate_middle { 
	clear: both;
	width: 880px;
	height: 240px;
	padding: 50px;
	overflow: hidden;
	background: url(../images/tooplate_middle.png);
}

#mid_title { 
	font-size: 30px; 
	line-height: 38px; 
	font-weight: 400; 
	color: #000; 
	margin-bottom: 20px;  
}

#mid_left { 
	float:left; 
	width:400px; 
}

#mid_slider { 
	position:relative; 
	float: right; 
	width: 440px; 
	height: 220px;	  
}
#tooplate_middle img { 
	float: right; 
	margin-left: 60px; 
}

#mid_left p { 
	margin-bottom: 30px; 
	color: #000; 
}

#learn_more a { 
	display: block; 
	width: 104px; 
	height: 33px; 
	padding-top: 6px; 
	text-align: center; 
	text-decoration: none; 
	color: #333; 
	font-weight: 700; 
	background: url(../images/tooplate_menu_hover.png);  
}

#learn_more a:hover { 
	color: #000; 
}

/* main */

#tooplate_main_top { 
	width: 980px; 
	height: 10px; 
	background: url(../images/content_top.png) no-repeat; 
}

#tooplate_main_bottom { 
	width: 980px; 
	height: 10px; 
	background: url(../images/content_bottom.png) no-repeat; 
}

#tooplate_main {
	clear: both;
	width: 900px;
	padding: 20px 40px;
	background: url(../images/tooplate_content.png) repeat-y center;
}

#tooplate_main p {
	margin-bottom: 10px;
}

.con_tit_01 { 
	font-size: 30px; 
	color: #666; 
	margin-bottom: 25px; 
}

.con_tit_02 { 
	font-size: 24px; 
	color: #333; 
	margin-bottom: 15px; 
}

.col_w900 { 
	width: 900px; 
	margin-bottom: 30px; 
	padding-bottom: 30px; 
	border-bottom: 1px dashed #ccc; 
}

.col_w580 { width: 580px }
.col_w420 { width: 420px }
.col_w280 { width: 280px }

.col_allw280 { 
	float: left; 
	width: 280px; 
	margin-right: 30px; 
}

.col_w900_last { 
	padding: 0; 
	margin: 0; 
	background: none; 
}

.col_last { 
	margin: 0; 
}

.fp_service_box img { 
	float: left; 
	margin-right: 15px; 
}

.post_box { 
	clear: both; 
	margin-bottom: 30px; 
	padding-bottom: 20px; 
	border-bottom: 1px dashed #ccc; 
}

.post_header { 
	border-top: 3px solid #999; 
	border-bottom: 1px solid #ccc; 
	padding: 5px; 
	margin-bottom: 20px; 
}

.post_box h2 { 
	font-size: 34px; 
	margin-bottom: 30px; 
}

.post_box p.post_meta { 
	margin-bottom: 0; 
}

.post_box img { 
	float: left; 
	margin-right: 20px; 
}

.fp_lw_box { 
	clear: both; 
	margin-bottom: 30px; 
}

.fp_lw_box img { 
	margin-right: 15px; 
	padding-top: 3px; 
}

.fp_lw_box h6 { 
	margin-bottom: 0; 
}

.fp_lw_box h6 a { 
	font-weight: bold; 
	text-decoration: none; 
}

.sidebar_title {
	display: block;
	width: 260px;
	height: 30px;
	padding: 0 0 5px 20px;
	margin-bottom: 10px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	background: url(../images/tooplate_sidebar_bg.png) center bottom no-repeat;
}

.sidebar_box {
	padding-left: 15px;
	margin-bottom: 40px;
}

#gallery { 
	margin: 0; 
	padding: 0; 
}

.gallery_box { 
	display: block; 
	position: relative; 
	float: left; 
	width: 280px; 
	margin: 0 30px 50px 0; 
}

.gb_lmb { 
	margin: 0 0 20px 0; 
}

.gallery_box a img { 
	width: 270px; 
	height: 120px; 
}

#contact_form { 
	padding: 0; 
	width: 400px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 270px; 
	padding: 10px; 
	color: #111; 
	border: 1px solid #a7a7a7;  
	background: #e8e8e8; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px 
}

#contact_form form textarea { 
	width: 388px; 
	height: 200px; 
	padding: 10px; 
	color: #111; 
	border: 1px solid #a7a7a7;  
	background: #e8e8e8; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	margin: 10px 0px;
}

#contact_form form .submit_btn { 
	display: block; 
	width: 104px; 
	height: 39px; 
	line-height: 20px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(../images/tooplate_more.png)  no-repeat top center; 
	color: #333; 
	border: none; 
	cursor: pointer; 
}

#tooplate_footer_wrapper {
	clear: both;
	width: 100%;
	background: #000;
}

#tooplate_footer {
	clear: both;
	width: 940px;
	padding: 10px 0; 
	color: #786a78;
	text-align: center;
	margin: 0 auto;
}

#tooplate_footer a { 
	color: #786a78; 
	text-decoration: none; 
}